{% extends 'main/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

 {% block content %}
     <h1>Main page</h1>
    <p>Extra text</p>
     {% if task %}
    {% for el in task %}
        <div class="alert alert-warning mt-2">
            <h3>{{ el.title }}</h3>
            <p>{{ el.task }}</p>
            <button type="button" class="btn btn-info btn-sm">
                <a href="{% url 'update' task_id=el.id %}" style="color:white">
                    <i class="fas fa-pen"></i> Edit
                </a>
            </button>
        <button type="button" class="btn btn-danger btn-sm">
                <a href="{% url 'delete' task_id=el.id %}" style="color:white">
                    <i class="fas fa-pen"></i>Delete
                </a>
            </button>
        </div>

    {% endfor %}
{% else %}
    <p>No tasks found</p>
{% endif %}
{% endblock %}
